
    <!-- Header -->
    <header class="frontpage">

        <div class="container">
        
            <div class="intro-text">
            
<video preload="true" autoplay="autoplay" loop="loop" poster="img/polina.jpg" id="bgvid">
<source src="img/polina.mp4" type="video/mp4">
</video>

<div class="intro-lead-in"><img src="img/oleme_loodud.png"></div>
			

         <!--       <div class="intro-lead-in">Welcome To Our Studio!</div>
                <div class="intro-heading">It's Nice To Meet You</div> -->
                <a href="#about" class="page-scroll frontpage-scroll"><i class="fa fa-chevron-down"></i></a>
            </div>
        </div>
    </header>
    <!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

